<div class="component control-sidebar" ng-class="$ctrl.getState()">

  <div class="control-buttons-wrap">
    <div class="controls-block">
      <button class="btn btn-primary btn-arrow-right block multiply-btn" ng-click="$ctrl.onMultiply()">
        Умножить матрицы
      </button>
    </div>

    <div class="controls-block">
      <button class="btn block clear-btn" ng-click="$ctrl.onClear()">
        <i class="icon-clear"></i>
        Очистить матрицы
      </button>
      <button class="btn block swap-btn" ng-click="$ctrl.onSwap()">
        <i class="icon-swap"></i>
        Поменять матрицы местами
      </button>
    </div>

    <div class="controls-block matrix-select">
      <div class="pull-left">
        <input id="choice-a" class="radio" name="selectedMatrixA" type="radio"
               ng-model="$ctrl.selectedMatrix" value="matrixA">
        <label class="radio-custom-label" for='choice-a'>
          Матрица А
        </label>
      </div>
      <div class="pull-left">
        <input id="choice-b" class="radio" name="selectedMatrixB" type="radio"
               ng-model="$ctrl.selectedMatrix" value="matrixB">
        <label class="radio-custom-label" for='choice-b'>
          Матрица B
        </label>
      </div>
      <p>
        <button class="btn" ng-click="$ctrl.handleAddRow()"><i class="icon-plus"></i> Добавить</button>
        <button class="btn" ng-click="$ctrl.handleDelRow()"><i class="icon-minus"></i> Удалить</button>
        <span> строку</span>
      </p>
      <p>
        <button class="btn inline" ng-click="$ctrl.handleAddCol()"><i class="icon-plus"></i> Добавить</button>
        <button class="btn inline" ng-click="$ctrl.handleDelCol()"><i class="icon-minus"></i> Удалить</button>
        <span> столбец</span>
      </p>
    </div>

    <div class="controls-block message" ng-if="$ctrl.getMessage()">
      {{$ctrl.getMessage()}}
    </div>
  </div>
</div>
